################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

errors.txt
.vs/Learning C sharp/FileContentIndex
.vs/Learning C sharp/v17/.suo